<div class="flex-column">
    <section
            class="container-fluid margin-sides-0 padding-right-0 padding-left-0 primary-blue-bg white-0 justify-content-center align-items-center"
            id="top">
        <div class="position-relative">
            <img src="assets/images/home/front_page.jpg" aria-label="main image" alt="front page cover"
                 class="img-fluid keep-height-ratio cover-image">
            <div class="padding-top-1 padding-bottom-1 home-title section-container">
                <div class="flex-column">
                    <span class="display-4 animated-fade-in" id="main-title">Common Place</span>
                    <span class="lead animated-fade-in" id="lead">Make a change in your community</span>
                </div>
            </div>
        </div>
    </section>
    <section class="padding-top-4 padding-bottom-4" id="mission">
        <div class="container-fluid section-container">
            <h4>Who are we?</h4>
            <div>
                We are a Manchester based collaborative practice who puts community interest at the forefront of all we do. We act as a mediator between those who own land and groups who are looking to realise a community focused project. Positioning ourselves at the convergence of architecture and real-estate, we are a platform which allows groups within communities to match their design ideas to specific sites identified by us, supporting the project through construction to post-occupancy. We identify the potential of brownfield sites, such land which is often overlooked or dismissed, to realise these community focused projects.
            </div>
            <h4 class="margin-top-1">What is the issue?</h4>
            <div>
                In the past years, land value has risen due to public investment, however, this is only economically benefiting land owners and developers. Governments are finding it difficult to identify the needs of individual places and communities. Consequently, many buildings are left unused during a large proportion of the day.
            </div>
            <h4 class="margin-top-1">How we solve this?</h4>
            <div class="white-space-pre-line">At Common Place, we strongly believe in a democratic land ownership system. We are revolutionising how the economy behind land ownership works. We want to provide opportunities to communities which would otherwise be outbid, or who would not otherwise know how to purchase and develop the project themselves.

                With community interest at the very centre of all we do as a practice, we believe an understanding of the areas in which we work and the communities which we work with is key to realising successful projects. We believe in having full support in the principles to which the community groups we work with. Allowing us, as a practice, to be fully invested in the projects. we therefore are pushing for an increase in the usage of buildings by community groups. For example, to use buildings in the evening for funding events. Social inclusion of all groups and minorities within the community. Giving communities the opportunity to decide what happens to the area that surrounds them.

                As a practice, we look towards a more sustainable future, where a circular economy can be achieved. Though seeing the potential in derelict brownfield sites, we believe the growth of cities can happen without using greenfield land as the urban population grows and urban sprawl occurs at an increasing rate.
            </div>
        </div>
    </section>
    <section class="primary-orange-bg primary-blue padding-bottom-4 padding-top-4" id="community">
        <div class="container-fluid section-container">
            <h4 class="margin-bottom-1">Find Your Community</h4>
            <div ng-if="zones" class="row">
                <div ng-repeat="zone in zones"
                     class="zone-image-md secondary-orange-light display-4 has-hover col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-click="zone_clicked(zone.name)">
                    <img ng-if="zone.image" src="{{zone.image}}" alt="{{zone.name}} image" class="img-fluid">
                </div>
            </div>
            <div ng-if="!zones">
                Could not load zones :(
            </div>
        </div>
    </section>
    <section class="padding-bottom-4 padding-top-4" id="team">
        <div class="container-fluid section-container">
            <h4 class="margin-bottom-2">Meet The Team</h4>
            <div ng-if="team" class="row flex-space-between margin-right-minus-5 width-100">
                <div ng-repeat="member in team" class="member-section col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <img ng-if="member.image" src="{{member.image}}" class="rounded-circle"
                         alt="image for team member">

                    <svg ng-if="!member.image" class="bd-placeholder-img rounded-circle" width="200" height="200"
                         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                         role="img" aria-label="Placeholder: 200x200"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <text x="35%" y="50%" fill="#dee2e6" dy=".3em">200x200</text>
                    </svg>

                    <h6 class="margin-top-1-force">{{member.name}}</h6>
                    <div class="text-wrap">{{member.role}}</div>
                </div>
            </div>
            <div ng-if="!team">
                Could not load team :(
            </div>
        </div>
    </section>
    <section class="primary-blue-bg white-0 container-fluid margin-sides-0 padding-left-0 padding-right-0" id="contact">
        <div class="row width-100 padding-right-0 padding-left-0 margin-sides-0 padding-left-0 padding-right-0">
            <div class="text-center flex-column flex-align-self-center col-xs-12 col-sm-12 col-md-6" id="contact-info">
                <h5>Manchester</h5>
                <div>977 Stockport Road</div>
                <div>Levenshulme</div>
                <div>Manchester M19 2SS</div>
                <div>commonplace.architects@gmail.com</div>
                <div>+44 6969 420 666</div>
            </div>
            <div class="text-center flex-column col-xs-12 col-sm-12 col-md-6 margin-sides-0 padding-left-0 padding-right-0">
                <img src="assets/images/home/location.jpg" class="img-fluid">
            </div>
        </div>
    </section>
</div>